@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proxima-nova-bold.ttf');
  font-style: normal;
}
body {
  font-family: 'proxima-nova';
}

.centered-at-top {
  position: absolute;
  top: 7%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.centered-below-top-general { 
  position: absolute;
  bottom: 1%;
  left: 50%;

  transform: translate(-50%, 0%);
}

/* Breadcrumb */

:root {
  --breadcrumb-theme-1: #000000; /* sfondo */
  --breadcrumb-theme-2: #FFFFFF; /* testo*/
  --breadcrumb-theme-3: rgb(255,204,0); /* freccina*/
}
.mybreadcrumb {
  position: relative;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 15px;
  counter-reset: flag;
}

.breadcrumb__step {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 36px;
  padding: 0 10px 0 60px;
  position: relative;
  background: var(--breadcrumb-theme-2);
  color: var(--breadcrumb-theme-1);
  transition: background 0.5s;
  padding-left: 52px;
}
.breadcrumb__step:first-child {
  padding-left: 36px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb__step:first-child::before {
  left: 14px;
}
.breadcrumb__step:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}
.breadcrumb__step:last-child::after {
  content: none;
}

/* Hide short text by default (resolution > 1200px)*/
.short-text { display: none; }

/*// When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 1080px) {
    .short-text { 
	display: block;
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.0);	
	}
    .full-text { display: none; }
}

.breadcrumb__step::before { /*Numeretto*/
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: 10px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: bold;
  background: var(--breadcrumb-theme-2);
  box-shadow: 0 0 0 1px var(--breadcrumb-theme-1);
}
.breadcrumb__step::after {
  content: '';
  position: absolute;
  top: 0;
  right: -16px;
  width: 36px;
  height: 36px;
  transform: scale(0.63) rotate(45deg);
  z-index: 2;
  border-radius: 0 5px 0 50px;
  background: var(--breadcrumb-theme-2);
  transition: background 0.5s;
  box-shadow: 2px -2px 0 2px var(--breadcrumb-theme-3);
}
.breadcrumb__step:hover,
.breadcrumb__step--active,
.breadcrumb__step:hover::after,
.breadcrumb__step--active::after {
  background: var(--breadcrumb-theme-1);
}
.breadcrumb__step:hover,
.breadcrumb__step--active {
  color: var(--breadcrumb-theme-2);
}
.breadcrumb__step:hover::before,
.breadcrumb__step--active::before {
  color: var(--breadcrumb-theme-1);
}
