.bg-aci-first { background: #00cccc; }
.bg-magma-first { background: #ff3333; }

.first-container {

}

.my-paragraph-first {
  border-radius: 3rem;
  background: #000000;
  padding: 0.4rem;
  font-size: 0.9rem;
}
.full-placeholder-first::before {
  content: "Placeholder";
}
.full-placeholder-first {
  visibility: hidden
}
.half-placeholder-first {
  visibility: hidden
}
.plan-image-first {
  height: 60px;
}
.service-button-first{
  font-size: 1.0rem;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2rem;
  padding-right: 2rem; 
  padding-left: 2rem
}
.service-button-first:focus {
  color: white;
  background-color: #007bff;
}