.bg-aci-first { background: #00cccc; }
.bg-magma-first { background: #ff3333; }

.first-container {
	display: none;
}

@media(min-width:1200px){
  .my-paragraph {
    margin-right: 8rem;
    margin-left: 8rem
  }  
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .my-paragraph {
    margin-right: 4rem;
    margin-left: 4rem
  }  
}

.my-paragraph-first {
  border-radius: 3rem;
  background: #000000;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem
}
.placeholder-first::before {
  content: "Placeholder"
}
.placeholder-first {
  visibility: hidden;
}
.plan-image-first {
  height: 60px;
}
.advice {
  height: 2rem;
}
.service-button-first{
  font-size: 1.0rem;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2rem;
  padding-right: 2rem; 
  padding-left: 2rem
}
.service-button-first:focus {
  color: white;
  background-color: #007bff;
}
.service-button-first:hover {
  background-color: #ffff66;
}