@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proxima-nova-bold.ttf');
  font-style: normal;
}
html, body {
  height: 100%;
  font-family: 'proxima-nova';
}
.bg-left { 
  background-image: url('../img/blue-waves.png'); 
}
.bg-right { background-image: url('../img/red-waves.png'); }
.centered-at-top {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}
.centered-below-top {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 2rem;
  z-index: 1;
}
.my-button {
  color: white;
  background-color: black;
  border-radius: 2.5rem
}
.my-button:focus {
  color: white;
  background-color: #007bff;
}