@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proxima-nova-bold.ttf');
  font-style: normal;
}
html, body {
  height: 100%;
  font-family: 'proxima-nova';
}

#company, #name, #surname, #email, #website, #telephone {
  border-radius: 14px;
  border-color: black;
  border-width: medium;
  font-weight: 800;
}

.bg-left { 
  background-image: url('../img/blue-waves.png'); 
  background-repeat: round;
  background-size: cover;
}
.bg-right { 
  background-image: url('../img/red-waves.png'); 
  background-repeat: round;
  background-size: cover;
}
.centered-at-top {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}
.centered-below-top {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 2rem;
  z-index: 1;
}
.my-button {
  color: white;
  background-color: black;
  border-radius: 2.5rem
}
.my-button:focus {
  color: white;
  background-color: #007bff;
}
.invalid-feedback {
  font-size: 1rem;
  color: #dc3545;
  border-left: 6px solid #dc3545;
  border-right: 6px solid #dc3545;
  background-color: black;
  padding-left: 1rem;
  border-radius: 2rem 0rem 2rem 0rem; 
}