.fourth-container {
  height: 100%;
  display: none;
}

#company, #name, #surname, #email, #website, #telephone {
  border-radius: 14px;
  border-color: black;
  border-width: medium;
  font-weight: 800;
}

.bg-left-fourth { 
  background-image: url('../img/blue-waves.png'); 
  background-repeat: round;
  background-size: cover;
}
.bg-right-fourth { 
  background-image: url('../img/red-waves.png'); 
  background-repeat: round;
  background-size: cover;
}

.centered-below-top-fourth {  /* CAMBIARE NOME */
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 2rem;
  z-index: 1;
}

.my-button-fourth {
  color: white;
  background-color: black;
  border-radius: 2.5rem
}
.my-button-fourth:focus {
  color: white;
  background-color: #007bff;
}
.invalid-feedback {
  font-size: 1rem;
  color: #dc3545;
  border-left: 6px solid #dc3545;
  border-right: 6px solid #dc3545;
  background-color: black;
  padding-left: 1rem;
  border-radius: 2rem 0rem 2rem 0rem; 
}