@media (max-width: 767px) {
  .zero-container {
    background-color: #F6F6F6;
  }

  .preslideTextContainer {
    font-size: 2.5rem;
    text-align: center;
  }

}

@media (min-width: 768px) {
  .zero-container {
    background: url(../img/topleft.png) left 0px top 0px no-repeat,
      url(../img/topright.png) right 0px top 0px no-repeat,
      url(../img/bottomleft.png) left 0px bottom 0px no-repeat,
      url(../img/bottomright.png) right 0px bottom 0px no-repeat, white;
    background-size: 45% 45%;
  }

  .preslideTextContainer {
    text-align: left;
    font-size: 3.5rem;
  }

}

.zero-container {
  width: 100vw;
  height: 100vh;
}

.preslideTextContainer {
  line-height: 85%;
}

.centered {
  position: fixed !important;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
}

.startbutton {
  background-image: url(../img/startbutton.png);
  width: 212px;
  height: 212px;
  background-size: cover;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}