.third-container {
  background-color: #ffcc00; 
  color: black; 
  height: 100%;
  display: none;
}

.centered-below-top {
  position: absolute;
  top: 25%;
  width: 100%; 
}

@media (max-width: 800px) {
  .centered-below-top {
    margin-top: 1.5rem;
  }
}

.confirm-choice-container {
  display: flex; 
  justify-content: center;
}

ul {
  overflow-y: scroll;
  display: block;
  max-height: 290px;
  overflow-x: hidden;
  margin: 0 auto;
  list-style-type: none;
  text-align: center; /* to center horizontally child inline elements */
  padding: 0;
}

@media (max-width: 767px) {
  li {
    width: 90%;
    display: inline-block;
    margin: 0.2rem;
	margin-left: 1rem;
  }  
  label {
    width: 100%;
    height: 4rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 0.8rem;
  }
}

@media (min-width: 768px) {
  li {
    display: inline-block;
    margin: 0.2rem;
  }  
  label {
    width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
  }
}

input[type="checkbox"] {
  display: none;
}

.first-type {
  color: white;
  background-color: black;
}

.second-type {
  color: black;
  background-color: #ffff66;
}

.third-type {
  color: #ffb400;
  background-color: white;
}

.third-slide-button {
  font-size: 1.0rem;
  background-color: rgba(0,0,0,1);
  border-radius: 2rem;
  border-color: rgba(0,0,0,1);
  padding-right: 2rem; 
  padding-left: 2rem
}

label div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label:before {
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  width: 25px;
  height: 25px;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label {
  border-color: #00cccc;
  border-style: solid;
  border-width: 0.2rem;
}



#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgb(245,245,245, 0.7);
}

#style-1::-webkit-scrollbar
{
	width: 12px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}