.third-container {
  background-color: #ffcc00; 
  color: black; 
  height: 100%;
  display: none;
}

.centered-below-top {
  position: absolute;
  top: 25%;
  width: 100%; 
}

ul {
  margin: 0 auto;
  list-style-type: none;
  text-align: center; /* to center horizontally child inline elements */
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.2rem;
}

input[type="checkbox"] {
  display: none;
}

label {
  width: 8rem;
  height: 8rem;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
}

label div {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}

label:before {
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  width: 25px;
  height: 25px;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label {
  color: black;
  background-color: #ffff66;
}